<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="text-center">Criar conta ou Fazer Login</h1>
      <p class="text-center lead">
        Crie sua conta ou faça login abaixo.
      </p>

      <div class="row">

        <div class="col-lg border border-end-0 rounded-start p-3">
          <h4 class="text-center">Faça seu cadastro</h4>
          <div class="alert alert-primary" role="alert">
            Se você ainda não tem uma conta, preencha o formulário abaixo:
          </div>
          <form action="/login/register" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <div class="mb-3">
              <label class="form-label">Seu e-mail:</label>
              <input type="email" class="form-control"  name="email">
            </div>
            <div class="mb-3">
              <label class="form-label">Sua senha:</label>
              <input type="password" class="form-control"  name="senha">
            </div>
            <button type="submit" class="btn btn-primary">Criar minha conta</button>
          </form>
        </div>
        <div class="col-lg border rounded-end">
          <h4 class="text-center mt-3">Faça login</h4>
          <div class="alert alert-primary" role="alert">
            Se você tem uma conta, faça login abaixo:
          </div>
          <form action="/login/login" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <div class="mb-3">
              <label class="form-label mt-4">Seu e-mail:</label>
              <input type="email" class="form-control"  name="email">
            </div>
            <div class="mb-3">
              <label class="form-label">Sua senha:</label>
              <input type="password" class="form-control"  name="senha">
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
          </form>
        </div>

      </div>

    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>